/* <=================common styles are here============> */
*{
    margin: 0;
    padding: 0;
    font-family: Work Sans;

}
/* <================header section start here==========> */
header{
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.header-content{
    text-align: right;
    margin-right: 230px;
}
.header-heading{
    color: #FFF;;
font-size: 65px;
font-weight: 700;;
padding-top: 286px;
}
.header-ditels{
    color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 24px;
}
.btn{
    color: #005FAC;
font-size: 20px;
font-weight: 600;
margin-top: 32px;
margin-bottom: 280px;
padding: 20px 26px;
}
.hero{
    display:flex;
    width: 75%;
    margin:140px  auto;
    justify-content: center;
    align-items: center;
    gap: 105px;
}
.hero-header{
    color: #151414;
font-size: 40px;
font-weight: 700;
}
.other{
    margin-top: 50px;
    margin-bottom: 24px;
}
.hero-info{
    color: #444343;
font-weight: 400;
line-height: 26px;
margin-bottom: 16px;
}
.hero-list{
    color:#444343;
font-size: 16px;;
font-weight: 400;
line-height: 26px;
margin-bottom: 8px;
}
ul{
    list-style: none;
}
ul li:before {
    content: '✓';
    color: #42e25d;
}
.section-header{
    text-align: center;
    
    color: #151414;
font-size: 40px;
font-weight: 700;
margin-bottom: 50px;
}
.plans-contener{
    display: flex;
    justify-content: center;
    gap:100px ;
}
.plans > h4{
    color:#151414;
text-align: center;
font-size: 30px;
font-weight: 700;
margin-bottom: 14px;

}
.plans>p{
    color: var(--Dark-03, #737272);
text-align: center;
font-family: Work Sans;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.plans >img{
    margin-left: 50px;
    margin-bottom: 25px;
}